<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="身份证阅读器" value="插入式" />
		<add key="拍照摄像头" value="普通摄像头" />
		<add key="入卡箱" value="无" />
		<add key="打印模块" value="51" />
		<add key="二维码扫描器" value="无" />
		<add key="入卡箱端口" value="" />
		<add key="入卡箱波特率" value="" />
		<add key="身份证阅读器端口" value="1001" />
		<add key="二维码扫描器端口" value="COM5" />
		<add key="PSAM卡槽" value="1" />
		<add key="银行代码" value="95302" />
		<add key="设备编号" value="lh-11100001" />
		<add key="数据下载IP" value="http://10.79.159.21:8080" />
		<add key="设备ID" value="KS320199001065" />
		<add key="消费端ID" value="6000002068395846" />
		<add key="消费端密钥" value="8000001601909156" />
		<add key="操作员" value="自助设备" />
		<add key="屏幕尺寸" value="1280*800" />
		<add key="是否写IC" value="Y" />
		<add key="是否打印" value="Y" />
		<add key="是否回传" value="Y" />
		<add key="抠图参数" value="0.8" />
		<add key="照片处理路径" value="G:\base64_person\base64_person" />
		<add key="摄像头分辨率" value="5" />

	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Core" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Security" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Util" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Text" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Naming" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Jdbc" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--身份证阅读器 = 插入式，非接式，无-->
<!--拍照摄像头 =双目摄像头，普通摄像头，无-->
<!--入卡箱 =三卡箱，单卡箱，无-->
<!--打印模块 =50，70-->
<!--三卡箱端口,可以为空 自动查找，填写了必须是对的COM口-->
<!--屏幕尺寸" value="1280*800 ,1024*768,1920*1080-->
